*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul{
    background-color: tomato;
    list-style: none;
}
nav a{
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1{
    margin-top: 50px;
    margin-left: 30px;
}
form{
    margin-top: 50px;
    margin-left: 30px;
}
.multi{
    margin-top: 50px;
    margin-left: 30px;
}